doctype 5
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .row
        .col-md-3
          h1 Mi lista
          img(src="images/kenji.png", class="img-circle")
        .col-md-9
          block content