body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
    display:block;
    margin:2px 0;
}

form {
    margin:10px 0;
}

.delete {
    padding-left:10px;
}

img {
    width:50%;
}